In [5]:
import pandas as pd
import numpy as np
from tensorflow import keras
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
%matplotlib inline

In [7]:
df = pd.read_csv("homeprices_banglore.csv")
df.head()

   area  bedrooms   price
0  1056         2   39.07
1  2600         4  120.00
2  1440         3   62.00
3  1521         3   75.00
4  1200         2   51.00

In [8]:
from sklearn import preprocessing
sx = preprocessing.MinMaxScaler()
sy = preprocessing.MinMaxScaler()
scaled_x = sx.fit_transform(df.drop('price', axis=1))
scaled_y = sy.fit_transform(df[['price']])
print(scaled_x[:5])
print(scaled_y[:5])

[[0.08827586 0.25      ]
 [0.62068966 0.75      ]
 [0.22068966 0.5       ]
 [0.24862069 0.5       ]
 [0.13793103 0.25      ]]
[[0.05237037]
 [0.65185185]
 [0.22222222]
 [0.31851852]
 [0.14074074]]

In [9]:
def batch_gradient_descent(x, y_true, epochs=1000, learning_rate=0.01):
    m = x.shape[1]
    w = np.ones(m)  # Initialize weights
    b = 0
    n = x.shape[0]
    
    for epoch in range(epochs):
        y_pred = np.dot(w, scaled_x.T) + b
        dw = (1/n) * np.dot(x.T, (y_pred - y_true))
        db = (1/n) * np.sum(y_pred - y_true)
        
        w -= learning_rate * dw
        b -= learning_rate * db
        np.square(y_true - y_pred).mean()
    return w, b